* {
    margin: 0;
    padding: 0;
}

body{
    background-image: url("https://img.freepik.com/free-vector/alien-planet-landscape-night-martian-surface_107791-14299.jpg?t=st=1730222666~exp=1730226266~hmac=9079d23d2afd29a9c417e905d56dbb137d6daa5d946eb76f4fd24fe0f1bee7fc&w=1380");
    background-size: cover;
    background-color: #3D3A4B;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.game{
    height:60vmin ;
    width:60vmin ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: #151515;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #151515;
    color: #fff;
    border-radius: 1rem;
    border: none;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #151515;
    color: #fff;
    border-radius: 1rem;
    border: none;
}
#msg{
    color: #fff;
    font-size: 8vmin;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}